@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s ease;
}

:root {
  --main-color: #569fff;
  --second-color: #5f27cd;

  --text-900: #000;
  --text-700: #576574;

  --bg-100: #f2f6f8;
  --bg-50: #fff;
}

body {
  margin-top: 9rem;
}

html {
  font-size: 62.5%;
}

button {
  padding: 0.7rem 2rem;
  border: none;
  background: var(--main-color);
  border-radius: 1rem;
  font-size: 1.4rem;
  color: var(--bg-50);
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

.primary-btn {
  margin: 1rem 0;
  border: 0.1rem solid var(--bg-50);
  background: rgba(255,255,255,0.4);
  color: var(--text-900);
}

.primary-btn:hover {
  color: var(--main-color);
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 600px) {
  
}