@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: #569fff;
  --second-color: #5f27cd;

  --text-900: #000;
  --text-700: #576574;

  --bg-100: #f8f6f2;
  --bg-50: #fff;
}

html {
  font-size: 62.5%;
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 600px) {
  
}